.home-icon {
  background-image: image-url('home-icon.svg');
  background-size: contain;
}
.mapboxgl-ctrl-compass {
  background-image: image-url('mapboxgl-ctrl-compass.svg');
  background-size: contain;
}